html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.container {
  font-family: "Helvetica";
  margin: 1.25rem;
}

.container h1 {
  font-size: 2rem;
}

.container p {
  font-size: 1.1rem;
  line-height: 1.2rem;
}

.app-style {
  font-size: 1.2rem !important;
}

.pg-style {
  font-size: 1.1rem !important;
}

.form-control {
  font-size: 1rem !important;
}

.right-align {
  display: flex;
  justify-content: flex-end;
}